<div class="body">
    <div class="card">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <form [formGroup]="form" *ngIf="!loading">
            <mat-card class="option-card">
                <table>
                    <tr>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Seleccione un programa</mat-label>
                                <mat-select formControlName="program" >
                                    <mat-optgroup *ngFor="let group of selectProgramsOptions" [label]="group.programname">
                                  <mat-option *ngFor="let opt of group.programStages" [value]="opt.id">
                                    {{opt.name}}
                                  </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                              </mat-form-field>
                        </td>
                        <td>
                            <input class="btn" (change)="onFileSelected($event)"  formControlName="attachment" #fileInput type="file" id="file">
                 
                            <!--<button type="button" mat-raised-button (click)="fileInput.click()">Seleccionar Archivo</button>
                            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">-->
                        </td>
                    </tr>
                </table>              
                
                  <br>
                  <button mat-raised-button color="primary" class="loginElement button" type="submit" (click)="onUpload()" [disabled]="form.invalid" >Procesar</button>
            
            </mat-card>
             </form>
    </div>
</div>

