<div class="body">
    <div class="login">
        <form>
            <mat-card class="option-card">
                <table>
                    <tr>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Seleccione un programa</mat-label>
                                <mat-select>
                                  <mat-option *ngFor="let opt of selectProgramsOptions" [value]="opt.id">
                                    {{opt.displayName}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </td>
                        <td>
                            <button type="button" mat-raised-button (click)="fileInput.click()">Seleccionar Archivo</button>
                            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
                        </td>
                    </tr>
                </table>
              
                
                  <br>
                  <button mat-raised-button color="primary" class="loginElement button" type="submit" >Procesar</button>
            
            </mat-card>

             </form>

    </div>
</div>


